<!DOCTYPE html>
<html ng-app="MyApp">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/angular")

    <script src="~/Scripts/app/MyApp.js"></script>

    <script src="~/Scripts/app/services/OrderService.js"></script>
    <script src="~/Scripts/app/services/CustomerService.js"></script>
    <script src="~/Scripts/app/services/ProductService.js"></script>

    <script src="~/Scripts/app/CustomerController.js"></script>
    <script src="~/Scripts/app/OrderController.js"></script>
    <script src="~/Scripts/app/CreateOrderController.js"></script>
   
    @RenderSection("scripts", required: false)
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-collapse collapse ">
                <ul class="nav navbar-nav navbar-left">
                    <li>@Html.ActionLink("Customers", "Customers", "Home")</li>
                    <li>@Html.ActionLink("Orders", "Orders", "Home")</li>
                    <li>@Html.ActionLink("Create Order", "CreateOrder", "Home")</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        <br />
        <br />
         @RenderBody()
        <hr/>
        <footer>
            <p>&copy; @DateTime.Now.Year - Collin Neill</p>
        </footer>
    </div>
</body>
</html>